[Unit]
Description=RClone Service 2
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=/opt/rclone/rclone2/rclone.conf

ExecStart=/usr/bin/rclone mount gdrive2: \
--allow-other \
--dir-cache-time 96h \
--drive-chunk-size 32M \
--log-level INFO \
--log-file /opt/rclone/rclone2/logs/rclone.log \
--timeout 1h \
--umask 002 \
--rc \
mvplexTV: /GDTV
ExecStop=/bin/fusermount -uz /GDTV
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
